/* Resto de tus estilos... */

/* Estilos para el modo oscuro */
body.dark-mode {
    background-color: #1a1a1a;
    color: #ffffff;
}

/* Resto de tus estilos... */


/* Resto de tus estilos... */

/* Estilos para el botón de alternancia de modo oscuro */
.dark-mode-toggle {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px;
    border-radius: 30px;
    background-color: #ffffff;
    transition: background-color 0.3s ease;
}

.slider {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #000000;
    margin-right: 5px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

body.dark-mode .slider {
    transform: translateX(100%);
    background-color: #ffffff;
}

/* Resto de tus estilos... */



/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, nav, section, footer {
    margin: 20px;
    padding: 20px;
    border: 1px solid #000000;
}

/* Estilos de navegación */
nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #e10404;
}

/* Estilos de proyectos */
.project {
    margin-bottom: 20px;
}

/* Estilos de pie de página */
footer {
    text-align: center;
    font-size: 0.8em;
}


/* Resto de tus estilos... */

/* Estilos de botones con efectos */
.button-effect {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.button-effect::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    transform: translateY(-100%);
    transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.button-effect:hover::before {
    transform: translateY(0);
}

.button-effect:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

